body {
    background-color: #3f5468;
}

a {
    color: dodgerblue!important;
}

select {
    background-color: transparent!important;
    padding: 13px 5px 5px 0!important;
    font-size: 18px!important;
    border-radius: 0!important;
    border: none!important;
    border-bottom: 1px solid rgba(0,0,0, 0.17)!important;
}

#forms {
    display: none;
}

.fa-grip-vertical {
    cursor: move;
}
